/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env*
.env.backup
!.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.rnd
_ide_helper.php

# firebase credentils
firebase-credentials**
firebase_credentials**

# packages vendor
packages/
packages/**/vendor

# ==== build styles and scripts 
/public/css